exportPattern("^[[:alpha:]]+")
importFrom(utils, download.file, read.csv)
importFrom(R.utils, gunzip)
importFrom(graphics,plot)
importFrom(tcltk, tkmessageBox, tkProgressBar, setTkProgressBar)
importFrom(rChoiceDialogs, jchoose.dir, jchoose.files)
importFrom(XML, htmlParse, xpathSApply, xmlValue)
importFrom(tm, Corpus, tm_map, removePunctuation, VectorSource, removeNumbers, stripWhitespace, removeWords, content_transformer, termFreq)
importFrom(wordcloud, wordcloud)
importFrom(RColorBrewer, brewer.pal)
import(shiny)
import(shinydashboard)