exportPattern("^[[:alpha:]]+")
importFrom(utils, download.file, read.csv)
importFrom(R.utils, gunzip)
importFrom(graphics,plot)
importFrom(ggplot2,qplot,ggplot,aes,geom_bar,position_dodge,theme,element_text,element_rect,xlab,ylab,ggtitle,coord_flip)
importFrom(utils, txtProgressBar, setTxtProgressBar)
importFrom(XML, htmlParse, xpathSApply, xmlValue)
importFrom(tm, Corpus, tm_map, removePunctuation, VectorSource, removeNumbers, stripWhitespace, removeWords, content_transformer, termFreq)
importFrom(wordcloud, wordcloud)
importFrom(RColorBrewer, brewer.pal)
